<a href="https://colab.research.google.com/github/Khamsaen2489/DWDM21/blob/main/Data102(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
ls

drive/  sample_data/

In [11]:
import os # จัดการไฟล์และ path

In [12]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [13]:
data = pd.read_csv(os.path.join(path,'confirmed-cases .csv'))
data

             No. announce_date  ... province_of_onset district_of_onset
0            1.0     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2.0     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3.0     22/1/2020  ...            นครปฐม             เมือง
3            4.0     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5.0     24/1/2020  ...     กรุงเทพมหานคร               NaN
...          ...           ...  ...               ...               ...
543301  543302.0     28/7/2021  ...        สุพรรณบุรี               NaN
543302  543303.0     28/7/2021  ...        สุพรรณบุรี               NaN
543303  543304.0     28/7/2021  ...        สุพรรณบุรี               NaN
543304  543305.0     28/7/2021  ...           ปัตตานี               NaN
543305       NaN           NaN  ...               NaN               NaN

[543306 rows x 11 columns]

##NaN = Not aNumber (ช่องว่าง)

In [ ]:
data.

ถึงตรงนี้นะไม่ทัน0000000000000000000000

เริ่มอันใหม่นะ

##Boxpolt
![download.png]()

from matplotlib imprt pyp