<a href="https://colab.research.google.com/github/Khamsaen2489/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# (พยายาม)ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

NameError: ignored

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

## Casting int() float() str()

In [1]:
print(variable_x)
print(int(variable_x))

NameError: ignored

In [2]:
V_X = str(variable_x)
print(V_X)

NameError: ignored

In [ ]:
V_X + variable_a

In [ ]:
variable_a + V_X

In [ ]:
V_X

In [ ]:
float(V_X)

## Data Structure
### list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list  (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

#### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]   
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[-3::]

'KKU'

In [ ]:
a[-3::1]

'KKU'

### list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop

######**การให้โปรแกรมทำงานซ้ำๆหลายๆรอบ**

### **indent**

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in loop
    do another thing #in loop
    do other things #out side loop
```

In [3]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [4]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [5]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [8]:
for i in range(2,7,2):
    print(i)

2
4
6

In [9]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [10]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [11]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

Condition (if statment)

```python 
if เงื่อนไขที่จะตรสจสอบ: (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่นไขเป็นจริง ทำงาน 1
  ถ้าเงื่ินไขเป็นจริง ทำงาน 2

```

In [12]:
stringx = 'wereygrhergaddfhytkdgfsa'

if len(stringx) > 30:
  print(f'{stringx} is longer than 30 characters')

In [13]:
stringx = 'wereygrhergaddfhytkdgfsa'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')

```python 
if เงื่อนไขที่จะตรสจสอบ: (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่นไขเป็นจริง ทำงาน 1
  ถ้าเงื่ินไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
ทำงานที่ x
```

In [14]:
stringx = 'wereygrhergaddfhytkdgfsa'

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
 print(f'{stringx} in {len(stringx)}  characters long')

wereygrhergaddfhytkdgfsa in 24  characters long

```python 
if เงื่อนไขที่จะตรสจสอบ: (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
  ถ้าเงื่นไขเป็นจริง ทำงาน 1
  ถ้าเงื่ินไขเป็นจริง ทำงาน 2
else: เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
ถ้าเงื่อนไขข้างบนไม่เป็นจริง a1
ถ้าเงื่อนไขข้างบนไม่เป็นจริง a2
else: เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
ถ้าเงื่อนไขข้างบนไม่เป็นจริง b1
ถ้าเงื่อนไขข้างบนไม่เป็นจริง b2

else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
ทำงานที่ x
```

In [15]:
password = '1234567789'

input_pass = '1234'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password):
  print('Too log try again')
  elif len(input_pass) < len(password):
     print('Too short, try again')
else:
  print('wrong password, try again')

SyntaxError: ignored

Quiz1

In [21]:
list_ex = [1,5,9,-19,-2,0] #หาค่าที่น้อนที่สุดใน List_ex 
list_ex[3: 4 : 1]

[-19]

เฉลย

In [22]:
min = 10000000

for i in list_ex:
  if i < min:
    min = i
    print (min)

1
-19

In [23]:
min = 10000000
print (list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min} ')
  if i < min:
    print(f'i < min, update min --> {i} ')
    min = i
else:
    print('i >= min, not update')
    print('end condittion, go to next ')
    print (min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 10000000
i < min, update min --> 1
now i = 5, min = 1
now i = 9, min = 1
now i = -19, min = 1
i < min, update min --> -19
now i = -2, min = -19
now i = 0, min = -19
i >= min, not update
end condittion, go to next
-19

HW3 ตัดเกรด

In [24]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [26]:
for i in score:
  if i >= 80:
    print(f'{i} = A')
  elif i >= 75 and i < 80:
    print(f'{i} = B+')
  elif i >= 70 and i < 75:
    print(f'{i} = B')
  elif i >= 65 and i < 70:
    print(f'{i} = C+')
  elif i >= 60 and i < 65:
    print(f'{i} = C')
  elif i >= 55 and i < 60:
    print(f'{i} = D+')
  elif i >= 50 and i < 55:
    print(f'{i} = D')
  else:
    print(f'{i} = F')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

In [42]:
def  grading(score):
    if score >= 80:
        grade = 'A'
    elif score >= 75:
        grade = 'B+'
    elif score >= 70: 
        grade = 'B'
    elif score >= 65:
        grade = 'C+'
    elif score >= 60: 
        grade = 'C'
    elif score >= 55: 
        grade = 'D+'
    elif score >= 50: 
        grade = 'D'
    else:
        grade = 'F'

    return grade

In [43]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

## Condition
## Function

```python
def ชื่อฟังก์ชั่น (input1,output....)
            งานxxx
            งานyyy
           return output

##EXAMPLE 3

In [44]:
def draw_rect():
print('========')
print(' ')

SyntaxError: ignored

ลักษณะ input(paremeter)
            จำเป็นต้องใส่
            ไม่จำเป็นต้องใส่

HW4
สรา้งฟังก์ชั้น
วาดรูปบ้าน
วาดรูปต้นไม้